<!DOCTYPE html>
<html lang="en">
<meta name="viewport" content="width=device-width, initial-scale=2">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
    <link rel="stylesheet" href="../static/style.css">

<body>

<form action="/fps" method="post">
    FPS:<br/>
    <input type="text" name="fps" value="{{ fps }}"><br/>
    shoot duration in hours:<br/>
    <input type="text" name="shoot_duration" value="{{ shoot_duration }}"><br/>
    clip duration in seconds:<br/>
    <input type="text" name="clip_duration" value="{{ clip_duration }}"><br/>
    <input type="submit" value="submit">
</form>
</body>
</html>